.page-1-link { 
    color: green;
}

.page-2-link { 
    color: red;
}

.main-page-text { 
    color: blue;
}

.page-1-text { 
    color: rgb(90, 131, 29);
}

.page-2-text { 
    color: yellow;
}

.index.html-link { 
    color: grey;
}